<div id="particles-js"></div>

<!-- Barra navegación -->
<header class="header">
  <div class="header__content">
    <div class="header__logo-container">
      <div class="header__logo-img-cont">
        <img src="" alt="Javier Pardo" class="header__logo-img">
      </div>
      <span class="header__logo-sub">Javier Pardo</span>
    </div>
    <div class="header__main">
      <ul class="header__links">
        <li class="header__link-wrapper">
          <a href="./" class="header__link">Home</a>
        </li>
        <li class="header__link-wrapper">
          <a href="./#about" class="header__link">About</a>
        </li>
        <li class="header__link-wrapper">
          <a href="./#projects" class="header__link">Projects</a>
        </li>
        <li class="header__link-wrapper">
          <a href="./#contact" class="header__link">Contact</a>
        </li>
      </ul>
      <div class="header__main-ham-menu-cont">
        <img src="./assets/svg/ham-menu.svg" alt="hamburger menu" class="header__main-ham-menu">
        <img src="./assets/svg/ham-menu-close.svg" alt="hamburger menu close" class="header__main-ham-menu-close d-none">
      </div>
    </div>
  </div>
  <div class="header__sm-menu">
    <div class="header__sm-menu-content">
      <ul class="header__sm-menu-links">
        <li class="header__sm-menu-link">
          <a href="./">Home</a>
        </li>
        <li class="header__sm-menu-link">
          <a href="./#about">About</a>
        </li>
        <li class="header__sm-menu-link">
          <a href="./#projects">Projects</a>
        </li>
        <li class="header__sm-menu-link">
          <a href="./#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- Sección de Inicio -->
<section id="init">
  <div class="hero-section" id="home">
    <div class="hero-content">
      <h1>Javier Pardo Gonzalez</h1>
      <h2>Hello World</h2>
      <p>Desarrollador Web Full Stack</p>
      <div class="buttons">
        <button class="pushable">
          <span class="shadow"></span>
          <span class="edge"></span>
          <span class="front">Sobre mí</span>
        </button>
      </div>
      
      <div class="social-icons">
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
      </div>
    </div>
  </div>
</section>



<!-- Sección Sobre Mí -->
<section id="about">
  <h2>Sobre Mí</h2>
  <p>Soy un ingeniero informático especializado en tecnologías de la información...</p>
</section>

<!-- Sección Educación -->
<section id="education">
  <h2>Educación</h2>
  <div class="timeline">
    <div class="timeline-item">
      <h3>ESO</h3>
      <p>Nombre del Colegio</p>
      <p>2008 - 2012</p>
    </div>
    <div class="timeline-item">
      <h3>Bachillerato</h3>
      <p>Nombre del Instituto</p>
      <p>2012 - 2014</p>
    </div>
    <div class="timeline-item">
      <h3>Universidad</h3>
      <p>Universidad de Castilla-La Mancha</p>
      <p>2014 - 2018</p>
    </div>
  </div>
</section>

<!-- Sección Proyectos -->
<section id="projects">
  <h2>Proyectos</h2>
  <p>Aquí estarán los proyectos destacados...</p>
</section>

<!-- Sección Contacto -->
<section id="contact">
  <h2>Contáctame</h2>
  <p>¡No dudes en ponerte en contacto conmigo!</p>
</section>



