<div id="particles-js"></div>
<div class="hero-section">
  <nav class="navbar">
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Sobre mí</a></li>
      <li><a href="#">Educación</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>

  <div class="hero-content">
    <h1>HI! I'M JAVIER PARDO</h1>
    <p>INGENIERIA INFORMATICA | TECNOLOGIA DE LA INFORMACION</p>
    
    <div class="buttons">
      <a href="#" class="cv-button"><span>DOWNLOAD CV</span></a>
    </div>    

    <div class="social-icons">
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>
    </div>
  </div>
</div>



