/* src/styles.css */

/* Definición de la paleta de colores */
:root {
  --azul-real: #4169E1;
  --celeste-claro: #87CEEB;
  --azul-marino: #003366;
  --aqua: #00FFFF;
  --gris-azulado: #B0C4DE;
  --blanco-hielo: #F0F8FF;
}

/* Fondo general blanco */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--blanco-hielo);
  overflow-x: hidden;
}
