/* Estilo general de la cabecera */
.header {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #0a192f;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  transition: background-color 0.6s ease, box-shadow 0.3s ease;
}

.header__content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__logo-img {
  width: 45px;
  border-radius: 50%;
}

.header__main {
  display: flex;
  align-items: center;
}

.menu-ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.header__link-wrapper {
  margin: 0 15px;
}

.header__link {
  color: #ccd6f6;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.header__link:hover {
  color: #64ffda;
}

.cv-btn {
  padding: 7px 15px;
  background: #64ffda;
  color: #0a192f;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cv-btn:hover {
  background-color: #52e0c4;
  color: #ffffff;
}

/* Estilos del menú hamburguesa */
.menu-wrapper {
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.hamburger-menu {
  width: 35px;
  height: 3px;
  background-color: #ccd6f6;
  border-radius: 3px;
  position: relative;
  transition: all 0.3s ease;
}

.hamburger-menu::before,
.hamburger-menu::after {
  content: '';
  width: 35px;
  height: 3px;
  background-color: #ccd6f6;
  position: absolute;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.hamburger-menu::before {
  top: -10px;
}

.hamburger-menu::after {
  bottom: -10px;
}

/* Cambio de estado cuando se activa el menú hamburguesa */
.menu-wrapper.active .hamburger-menu {
  background-color: transparent;
}

.menu-wrapper.active .hamburger-menu::before {
  transform: rotate(45deg);
  top: 0;
}

.menu-wrapper.active .hamburger-menu::after {
  transform: rotate(-45deg);
  bottom: 0;
}

/* Menú responsive que aparece cuando el menú hamburguesa está activo */
.menu-responsive {
  display: none;
  position: fixed;
  top: 70px; /* El menú se muestra justo debajo del header */
  right: 0;
  background-color: #0a192f;
  z-index: 10;
  width: 50%; /* El menú ocupa la mitad de la pantalla */
  height: 100vh;
  transform: translateX(100%); /* El menú está fuera de la pantalla inicialmente */
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  box-shadow: 0 4px 6px rgba(0.4, 0, 0, 0.4); /* Sombra en los bordes del menú */
  animation: slideInMenu 0.5s ease-out forwards; /* Animación para el contenedor del menú */
}

/* Mostrar el menú cuando se activa */
.menu-responsive.active {
  display: flex;
  transform: translateX(0);
}

/* Animación de deslizamiento del contenedor del menú */
@keyframes slideInMenu {
  0% {
    transform: translateX(100%); /* Empieza desde la derecha fuera de la pantalla */
  }
  100% {
    transform: translateX(0); /* Se desliza hacia la izquierda hasta ocupar la mitad de la pantalla */
  }
}

/* Estilo para las opciones del menú */
.menu-responsive nav ol {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu-responsive nav ol li {
  margin: 20px 0;
  opacity: 0;
  animation: slideInFromRight 0.3s ease-out forwards;
}

.menu-responsive nav ol li a {
  color: #ccd6f6;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.menu-responsive nav ol li a:hover {
  color: #64ffda;
}

.menu-responsive nav ol li a.cv-btn {
  color: #000000; /* Cambia el color del texto a negro */
}

.menu-responsive nav ol li a.cv-btn:hover {
  color: #000000; /* Cambia el color del texto a negro al hacer hover */
}


/* Animación de deslizamiento de las opciones del menú */
@keyframes slideInFromRight {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Estilos para pantallas grandes (cuando el menú hamburguesa no aparece) */
@media (min-width: 828px) {
  .menu-wrapper {
    display: none; /* No mostrar el menú hamburguesa en pantallas grandes */
  }

  .menu-ul {
    display: flex; /* Mostrar el menú tradicional en pantallas grandes */
  }

  .menu-responsive {
    display: none; /* El menú hamburguesa no se muestra en pantallas grandes */
  }
}

/* Estilos en pantallas pequeñas (cuando el menú hamburguesa sí aparece) */
@media (max-width: 827px) {
  .menu-wrapper {
    display: block; /* Mostrar el icono del menú hamburguesa en pantallas pequeñas */
  }

  .menu-ul {
    display: none; /* Ocultar el menú tradicional en pantallas pequeñas */
  }

  .menu-responsive {
    display: none;
    transform: translateX(100%); /* El menú está oculto fuera de la pantalla */
  }

  .menu-responsive.active {
    display: flex;
    transform: translateX(0); /* El menú se desliza hacia la izquierda */
  }
}




