<section class="header">
  <div class="header__content">
    <a class="header__logo-container" href="inicio">
      <img src="icons/mario.svg" alt="Logo" class="header__logo-img">
    </a>
    <nav class="header__main">
      <ul class="menu-ul">
        <li class="header__link-wrapper"><a href="#about" class="header__link">01. SOBRE MI</a></li>
        <li class="header__link-wrapper"><a href="#projects" class="header__link">02. PROYECTOS</a></li>
        <li class="header__link-wrapper"><a href="#contact" class="header__link">03. CONTACTO</a></li>
        <li class="header__link-wrapper"><a href="#" class="cv-btn">DESCARGAR CV</a></li>
      </ul>
      <div class="menu-wrapper">
        <div class="hamburger-menu"></div>
      </div>
    </nav>
  </div>
</section>