/* Estilo general de la cabecera */
.header {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 97.5%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #0f0e0e; /* Fondo negro */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  transition: background-color 0.6s ease, box-shadow 0.3s ease;
}

.header__content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__logo-img {
  width: 45px;
  border-radius: 50%;
}

.header__main {
  display: flex;
  align-items: center;
}

.menu-ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.header__link-wrapper {
  margin: 0 15px;
}

.header__link {
  color: #FFFFFF; /* Blanco */
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.header__link:hover {
  color: #CADA2A; /* Verde claro */
}

.cv-btn {
  padding: 7px 15px;
  background: #CADA2A; /* Verde claro */
  color: #000000; /* Negro */
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cv-btn:hover {
  background-color: #00A82D; /* Verde esmeralda */
  color: #FFFFFF; /* Blanco */
}

/* Estilos del menú hamburguesa */
.menu-wrapper {
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.hamburger-menu {
  width: 35px;
  height: 3px;
  background-color: #FFFFFF; /* Blanco */
  border-radius: 3px;
  position: relative;
  transition: all 0.3s ease;
}

.hamburger-menu::before,
.hamburger-menu::after {
  content: '';
  width: 35px;
  height: 3px;
  background-color: #FFFFFF; /* Blanco */
  position: absolute;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.hamburger-menu::before {
  top: -10px;
}

.hamburger-menu::after {
  bottom: -10px;
}

/* Cambio de estado cuando se activa el menú hamburguesa */
.menu-wrapper.active .hamburger-menu {
  background-color: transparent;
}

.menu-wrapper.active .hamburger-menu::before {
  transform: rotate(45deg);
  top: 0;
  background-color: #CADA2A; /* Verde claro */
}

.menu-wrapper.active .hamburger-menu::after {
  transform: rotate(-45deg);
  bottom: 0;
  background-color: #CADA2A; /* Verde claro */
}

/* Menú responsive */
.menu-responsive {
  display: none;
  position: fixed;
  top: 70px;
  right: 0;
  background-color: #000000; /* Fondo negro */
  z-index: 10;
  width: 50%;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  box-shadow: 0 4px 6px rgba(0.4, 0, 0, 0.4);
  animation: slideInMenu 0.5s ease-out forwards;
}

.menu-responsive.active {
  display: flex;
  transform: translateX(0);
}

@keyframes slideInMenu {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0);
  }
}

/* Estilo para las opciones del menú */
.menu-responsive nav ol {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu-responsive nav ol li {
  margin: 20px 0;
  opacity: 0;
  animation: slideInFromRight 0.3s ease-out forwards;
}

.menu-responsive nav ol li a {
  color: #FFFFFF; /* Blanco */
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.menu-responsive nav ol li a:hover {
  color: #CADA2A; /* Verde claro */
}

.menu-responsive nav ol li a.cv-btn {
  background: #CADA2A; /* Verde claro */
  color: #000000; /* Negro */
}

.menu-responsive nav ol li a.cv-btn:hover {
  background-color: #00A82D; /* Verde esmeralda */
  color: #FFFFFF; /* Blanco */
}

@keyframes slideInFromRight {
  0% {
      transform: translateX(20px);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

/* Pantallas grandes */
@media (min-width: 828px) {
  .menu-wrapper {
      display: none;
  }

  .menu-ul {
      display: flex;
  }

  .menu-responsive {
      display: none;
  }
}

/* Pantallas pequeñas */
@media (max-width: 827px) {
  .menu-wrapper {
      display: block;
  }

  .menu-ul {
      display: none;
  }

  .menu-responsive {
      display: none;
      transform: translateX(100%);
  }

  .menu-responsive.active {
      display: flex;
      transform: translateX(0);
  }
}



