/* Estilos generales para el footer */
.footer {
  background-color: #1da1f2;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  margin: 15px;
  flex: 1;
}

.footer-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-section p, .footer-section ul {
  font-size: 14px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

/* Estilos para los botones de redes sociales */
.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-button {
  background: transparent;
  border: 1px solid #fff;
  padding: 8px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.social-button:hover {
  background-color: #fff;
  color: #1da1f2;
}

.social-button svg {
  margin-right: 10px;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 12px;
  color: #fff;
}
