/* Estilos generales para el footer */
.footer {
  background-color: #1da1f2;
  color: #fff;
  padding: 20px 10px; /* Reducir el padding */
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  margin: 10px 10px 5px 10px; /* Reducir el margin inferior */
  flex: 1;
}

.footer-section h3 {
  font-size: 1.8rem; /* Reducir el tamaño de la fuente */
  margin-bottom: 8px; /* Reducir el margin */
}

.footer-section p, .footer-section ul {
  font-size: 12px; /* Reducir el tamaño de la fuente */
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 3px 0; /* Reducir el margin */
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

/* Estilos para los botones de redes sociales */
.social-links {
  display: flex;
  justify-content: center;
  gap: 8px; /* Reducir el gap */
}

.social-button {
  background: transparent;
  border: 1px solid #fff;
  padding: 6px 14px; /* Reducir el padding */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 25px;
  font-size: 14px; /* Reducir el tamaño de la fuente */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.social-button:hover {
  background-color: #fff;
  color: #1da1f2;
}

.social-button svg {
  margin-right: 8px; /* Reducir el margin */
}

.footer-bottom {
  margin-top: 10px; /* Reducir el margin */
  font-size: 10px; /* Reducir el tamaño de la fuente */
  color: #fff;
}