<div class="about-container" id="about">
  <h2 class="about-title">01. SOBRE MÍ</h2>
  
  <!-- Contenedor de imagen y texto -->
  <div class="about-content">
    <img class="about-image visible" src="icons/perfil.jpg" alt="Mi Foto">
    <div class="about-text">
      <p>
        Soy ingeniero informático especializado en tecnologías de la información. Desde siempre, me ha llamado la atención la tecnología, lo que me llevó a seguir la carrera que estudiaron mis padres.
      </p>
      <p>
        He trabajado en desarrollo web, comenzando con Java, luego C y Python, y en mis últimos años de carrera, me he enfocado en crear aplicaciones web con HTML, CSS y Angular.
      </p>
      <p>
        Además, disfruto mucho del deporte y trato de practicarlo regularmente. Uno de mis mayores intereses es la ciberseguridad; me fascina proteger la información y enfrentar los desafíos que surgen en este campo.
      </p>
    </div>
  </div>

  <!-- Sección de Tecnologías -->
  <div class="tech-container">
    <h3 class="tech-title">TECNOLOGIAS</h3>

    <!-- Categoría Lenguajes de Programación -->
    <div class="tech-category">
      <h4 class="category-title">Lenguajes de Programación</h4>
      <div class="tech-list">
        <span class="tech-item">Java</span>
        <span class="tech-item">Python</span>
        <span class="tech-item">C</span>
      </div>
    </div>

    <div class="tech-category">
      <h4 class="category-title">Frameworks</h4>
      <div class="tech-list">
        <span class="tech-item">Angular</span>
        <span class="tech-item">Flask</span>
        <span class="tech-item">Spring Boot</span>

      </div>
    </div>

      <!-- Categoría Bases de Datos -->
    <div class="tech-category">
      <h4 class="category-title">Bases de Datos</h4>
      <div class="tech-list">
        <span class="tech-item">SQL</span>
        <span class="tech-item">MySQL Workbench</span>
      </div>
    </div>

    <!-- Categoría Control de Versiones -->
    <div class="tech-category">
      <h4 class="category-title">Control de Versiones</h4>
      <div class="tech-list">
        <span class="tech-item">Git</span>
        <span class="tech-item">GitHub</span>
      </div>
    </div>
    
    <!-- Categoría Sistemas Operativos -->
    <div class="tech-category">
      <h4 class="category-title">Sistemas Operativos</h4>
      <div class="tech-list">
        <span class="tech-item">Linux</span>
      </div>
    </div>

  </div>
</div>


