<!-- Sección Sobre Mí -->
<section class="section about" id="about">
  <div class="container">
    <h3 class="section-title">
      <span class="n-section-title">01.</span> Sobre Mí
    </h3>
    <div class="about-content">
      <div class="about-description">
        <p>
          Soy ingeniero informático especializado en tecnologías de la información. Desde siempre, me ha llamado la atención la tecnología, lo que me llevó a seguir la carrera que estudiaron mis padres.
        </p>
        <p>
          He trabajado en desarrollo web, comenzando con Java, luego C y Python, y en mis últimos años de carrera, me he enfocado en crear aplicaciones web con HTML, CSS y Angular.
        </p>
        <p>
          Además, disfruto mucho del deporte y trato de practicarlo regularmente. Uno de mis mayores intereses es la ciberseguridad; me fascina proteger la información y enfrentar los desafíos que surgen en este campo.
        </p>
      </div>
      <div class="about-tech-container">
        <div class="card">
          <span class="title">Tecnologías</span>
          <div class="card__tags">
            <ul class="tag">
              <li class="tag__name">Angular</li>
              <li class="tag__name">HTML</li>
              <li class="tag__name">CSS</li>
              <li class="tag__name">Python</li>
              <li class="tag__name">Java</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
