<section class="section banner">
  <div class="container">
    <div class="section-box-banner">
      <div class="content">
        <div>
          <h1>¡Hola, soy</h1>
        </div>
        <div class="banner-title">
          <h2>JAVIER PARDO</h2>
          <h3>
            <span>{{ displayText }}</span><span class="cursor">|</span>
          </h3>                                
        </div>
        <div class="banner-description">
          <div class="description-with-coffee">
            <p class="mt-4">Estudiante de Ingeniería Informática que se especializa en Tecnología de la Información. Cuando no estoy desarrollando mis proyectos, me puedes encontrar disfrutando de algún deporte, ya sea en el campo, en la pista o en el gimnasio. ¡Siempre buscando un nuevo reto, ya sea en código o en el deporte!</p>
            <!-- Nuevo contenido -->
            <div class="container-coffee">
              <div class="coffee-header">
                <div class="coffee-header__buttons coffee-header__button-one"></div>
                <div class="coffee-header__buttons coffee-header__button-two"></div>
                <div class="coffee-header__display"></div>
                <div class="coffee-header__details"></div>
              </div>
              <div class="coffee-medium">
                <div class="coffe-medium__exit"></div>
                <div class="coffee-medium__arm"></div>
                <div class="coffee-medium__liquid"></div>
                <div class="coffee-medium__smoke coffee-medium__smoke-one"></div>
                <div class="coffee-medium__smoke coffee-medium__smoke-two"></div>
                <div class="coffee-medium__smoke coffee-medium__smoke-three"></div>
                <div class="coffee-medium__smoke coffee-medium__smoke-for"></div>
                <div class="coffee-medium__cup"></div>
              </div>
              <div class="coffee-footer"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Nuevo contenido -->
  <div class="scrolldown" style="--color: skyblue">
    <div class="chevrons">
      <div class="chevrondown"></div>
      <div class="chevrondown"></div>
    </div>
  </div>
</section>