<section class="hero" id="hero">
  <img src="icons/fondo.avif" alt="Background Image" style="position: absolute; width: 100%; height: 100%; object-fit: cover; z-index: -1;">
  <div class="hero__content">
      <h1 class="hero__title">JAVIER PARDO GONZALEZ</h1>
      <p class="hero__subtitle"><span id="typed-text"></span></p>
      <div class="hero__buttons">
          <!-- Botones para proyectos y CV -->
          <a href="#projects" class="hero__cta">Proyectos</a>
          <a href="icons/CV-FORTE.pdf" class="hero__cta hero__cta--cv" download="CV_Javier_Pardo.pdf">Descargar CV</a>
      </div>
  </div>
</section>
