<!-- Sección Proyectos -->
<section class="section projects-section" id="projects">
  <div class="container">
    <h3 class="section-title">
      <span class="n-section-title">02.</span> Proyectos
    </h3>
    <div class="projects-grid">
      <article class="article-wrapper">
        <div class="rounded-lg container-project"></div>
        <div class="project-info">
          <div class="flex-pr">
            <div class="project-title text-nowrap">Project 1</div>
            <div class="project-hover">
              <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor">
                <line y2="12" x2="19" y1="12" x1="5"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
              </svg>
            </div>
          </div>
          <div class="types">
            <span class="project-type" style="background-color: rgba(165, 96, 247, 0.43); color: rgb(85, 27, 177);">• Analytics</span>
            <span class="project-type">• Dashboards</span>
          </div>
        </div>
      </article>
      <article class="article-wrapper">
        <div class="rounded-lg container-project"></div>
        <div class="project-info">
          <div class="flex-pr">
            <div class="project-title text-nowrap">Project 2</div>
            <div class="project-hover">
              <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor">
                <line y2="12" x2="19" y1="12" x1="5"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
              </svg>
            </div>
          </div>
          <div class="types">
            <span class="project-type" style="background-color: rgba(165, 96, 247, 0.43); color: rgb(85, 27, 177);">• Analytics</span>
            <span class="project-type">• Dashboards</span>
          </div>
        </div>
      </article>
      <article class="article-wrapper">
        <div class="rounded-lg container-project"></div>
        <div class="project-info">
          <div class="flex-pr">
            <div class="project-title text-nowrap">Project 3</div>
            <div class="project-hover">
              <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor">
                <line y2="12" x2="19" y1="12" x1="5"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
              </svg>
            </div>
          </div>
          <div class="types">
            <span class="project-type" style="background-color: rgba(165, 96, 247, 0.43); color: rgb(85, 27, 177);">• Analytics</span>
            <span class="project-type">• Dashboards</span>
          </div>
        </div>
      </article>
      <article class="article-wrapper">
        <div class="rounded-lg container-project"></div>
        <div class="project-info">
          <div class="flex-pr">
            <div class="project-title text-nowrap">Project 4</div>
            <div class="project-hover">
              <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor">
                <line y2="12" x2="19" y1="12" x1="5"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
              </svg>
            </div>
          </div>
          <div class="types">
            <span class="project-type" style="background-color: rgba(165, 96, 247, 0.43); color: rgb(85, 27, 177);">• Analytics</span>
            <span class="project-type">• Dashboards</span>
          </div>
        </div>
      </article>
      <article class="article-wrapper">
        <div class="rounded-lg container-project"></div>
        <div class="project-info">
          <div class="flex-pr">
            <div class="project-title text-nowrap">Project 5</div>
            <div class="project-hover">
              <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor">
                <line y2="12" x2="19" y1="12" x1="5"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
              </svg>
            </div>
          </div>
          <div class="types">
            <span class="project-type" style="background-color: rgba(165, 96, 247, 0.43); color: rgb(85, 27, 177);">• Analytics</span>
            <span class="project-type">• Dashboards</span>
          </div>
        </div>
      </article>
      <article class="article-wrapper">
        <div class="rounded-lg container-project"></div>
        <div class="project-info">
          <div class="flex-pr">
            <div class="project-title text-nowrap">Project 6</div>
            <div class="project-hover">
              <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor">
                <line y2="12" x2="19" y1="12" x1="5"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
              </svg>
            </div>
          </div>
          <div class="types">
            <span class="project-type" style="background-color: rgba(165, 96, 247, 0.43); color: rgb(85, 27, 177);">• Analytics</span>
            <span class="project-type">• Dashboards</span>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>