#projects {
  color: #0D0D0D;
  padding: 2em;
  text-align: center;
}

#projects h3 {
  color: #64ffda;
  margin: 80px 0 50px 0;
  font-size: 2rem; /* Tamaño más grande para "¡Hola, mi nombre es!" */
  font-weight: normal;
  font-family: "Roboto Mono", monospace; /* Reemplaza con la fuente correspondiente */
  text-align: left;
  position: relative;
}

#projects h3::before {
  content: '';
  position: absolute;
  left: -20px; /* Ajusta esta distancia según sea necesario */
  top: 0;
  bottom: 0;
  width: 2px; /* Grosor de la línea */
  background-color: #64ffda; /* Color de la línea */
}

#projects p {
  color: #d7def3;
  text-align: left;
  justify-content: center;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", "Monaco", monospace; /* Cambia la fuente a una de las fuentes proporcionadas */
  font-size: 1.1rem; /* Tamaño de fuente más grande */
  opacity: 0.8;
  line-height: 1.5;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 80px;
  margin-top: 30px;
}

/* From Uiverse.io by Amine-maker */
.article-wrapper {
  width: 250px;
  transition: 0.15s all ease-in-out;
  border-radius: 10px;
  padding: 5px;
  border: 4px solid transparent;
  cursor: pointer;
  background-color: white;
}

.article-wrapper:hover {
  box-shadow: 10px 10px 0 #4e84ff, 20px 20px 0 #4444bd;
  border-color: #0578c5;
  transform: translate(-20px, -20px);
}

.article-wrapper:active {
  box-shadow: none;
  transform: translate(0, 0);
}

.types {
  gap: 10px;
  display: flex;
  place-content: flex-start;
}

.rounded-lg {
  border-radius: 10px;
}

.article-wrapper:hover .project-hover {
  transform: rotate(-45deg);
  background-color: #a6c2f0;
}

.project-info {
  padding-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-title {
  font-size: 2em;
  margin: 0;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}

.flex-pr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-type {
  background: #b2b2fd;
  color: #1a41cd;
  font-weight: bold;
  padding: 0.3em 0.7em;
  border-radius: 15px;
  font-size: 12px;
  letter-spacing: -0.6px;
}

.project-hover {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 9px;
  transition: all 0.3s ease;
}

.container-project {
  width: 100%;
  height: 170px;
  background: gray;
}

/* Responsiveness */
@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
  }
}
