<div class="projects-container">
  <!-- Proyecto 1 -->
  <div class="post">
    <div class="post-content">
      <div class="post-header">
        <img src="icons/perfil.jpg" alt="Avatar" class="post-avatar">
        <div class="post-info">
          <span class="post-name">SUNVOLT</span>
          <span class="post-handle">&#64;_javipardo</span>
        </div>
      </div>
      <div class="project-details">
        <div class="project-image">
          <img src="icons/SunVolt/ImgPro.png" alt="Proyecto E-commerce Web" class="project-img">
        </div>
        <div class="project-description">
          <h3>Descripción</h3>
          <p>
            🚀 Aplicación web simulando una de móvil para la gestión eficiente de la energía de las placas solares instaladas en tu casa. Esta aplicación permite monitorear y optimizar el uso de energía solar, proporcionando datos en tiempo real y análisis detallados.        </p>
          <div class="project-techs">
            <span class="tech">HTML</span>
            <span class="tech">CSS</span>
            <span class="tech">JavaScript</span>
            <span class="tech">Flask</span>
          </div>
          <a href="https://github.com/javier-pardo4" target="_blank" class="social-button-link">
            <button class="social-button github-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-github" viewBox="0 0 24 24">
                <path d="M12 0C5.373 0 0 5.373 0 12c0 5.303 3.438 9.8 8.205 11.387.6.113.82-.258.82-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.757-1.333-1.757-1.089-.745.083-.729.083-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.775.418-1.305.76-1.605-2.665-.305-5.466-1.333-5.466-5.93 0-1.31.467-2.382 1.235-3.222-.123-.303-.535-1.523.117-3.176 0 0 1.008-.322 3.3 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.046.138 3.003.404 2.29-1.552 3.297-1.23 3.297-1.23.653 1.653.241 2.873.118 3.176.77.84 1.235 1.912 1.235 3.222 0 4.61-2.803 5.62-5.475 5.92.43.37.815 1.102.815 2.222v3.293c0 .322.218.694.825.576C20.565 21.796 24 17.298 24 12 24 5.373 18.627 0 12 0z"/>
              </svg>
              <span>GitHub</span>
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="post-footer">
      <div class="post-stats">
        <span class="likes">❤️ 180</span>
        <span class="retweets">🔁 45</span>
        <span class="shares">🔗 55</span>
        <span class="views">👁️ 700</span>
      </div>
    </div>
  </div>

